<div class="education-main-layout">
  <div class="education-timeline-col">
    <h2 class="education-title">My Qualification</h2>
    <div class="education-timeline">
      <!-- Timeline Item 1 -->
      <div class="timeline-item">
        <div class="timeline-bullet"></div>
        <div class="timeline-content">
          <h3 class="degree-title">MCS (Master of Computer Science)</h3>
          <div class="degree-field">COMSATS University, Islamabad</div>
          <div class="degree-field"><p class="subject-title">Subjects:</p>Computer Science</div>
          <div class="degree-date">
            <i class="pi pi-calendar-plus date-icon"></i>
            2017 - 2019
          </div>
        </div>
      </div>
      
      <!-- Timeline Item 2 -->
      <div class="timeline-item">
        <div class="timeline-bullet"></div>
        <div class="timeline-content">
          <h3 class="degree-title">Bachelor's Degree</h3>
          <div class="degree-field">Bahauddin Zakariya University, Multan</div>
          <div class="degree-field"><p class="subject-title">Subjects:</p>Computer Science, Economics, Geography</div>
          <div class="degree-date">
            <i class="pi pi-calendar-plus date-icon"></i>
            2015 - 2017
          </div>
        </div>
      </div>
      
      <!-- Timeline Item 3 -->
      <div class="timeline-item">
        <div class="timeline-bullet"></div>
        <div class="timeline-content">
          <h3 class="degree-title">Intermediate</h3>
          <div class="degree-field">BISE Multan</div>
          <div class="degree-field"><p class="subject-title">Subjects:</p>Mathematics, Computer Science, Economics</div>
          <div class="degree-date">
            <i class="pi pi-calendar-plus date-icon"></i>
            2013 - 2015
          </div>
        </div>
      </div>
      
      <!-- Timeline Item 4 -->
      <div class="timeline-item">
        <div class="timeline-bullet"></div>
        <div class="timeline-content">
          <h3 class="degree-title">Matriculation</h3>
          <div class="degree-field">BISE Multan</div>
          <div class="degree-field "><p class="subject-title">Subjects:</p> Mathematics, Physics, Chemistry, Biology</div>
          <div class="degree-date">
            <i class="pi pi-calendar-plus date-icon"></i>
            2011 - 2013
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
